/* Base styles */
.slider_container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.nav_button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
    &:disabled {
        opacity: 2;
        cursor: default;
    }
}

.slider_window {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider_list {
    display: flex;
    transition: transform 0.8s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.container_item_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;   
}

.view_img {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles */
@media (max-width: 480px) {
    .nav_button {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .view_img {
        height: 150px; /* Adjust height as needed */
    }
}

@media (max-width: 720px) {
    .nav_button {
        font-size: 1.75rem;
        padding: 0 0.75rem;
    }

    .view_img {
        height: 175px; /* Adjust height as needed */
    }
}

@media (max-width: 1024px) {
    .nav_button {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .view_img {
        height: 200px; /* Adjust height as needed */
    }
}

@media (max-width: 1366px) {
    .nav_button {
        font-size: 2.25rem;
        padding: 0 1.25rem;
    }

    .view_img {
        height: 225px; /* Adjust height as needed */
    }
}

@media (max-width: 1960px) {
    .nav_button {
        font-size: 2.5rem;
        padding: 0 1.5rem;
    }

    .view_img {
        height: 250px; /* Adjust height as needed */
    }
}
