// Colors
$primary-bg-color: #333;
$hover-bg-color: #555;
$text-color: #fff;
$bg_blue_color:#1A76D1;
// Font styles
$base-font-size: 16px;
$base-font-family: Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', sans-serif;