.container {
    position: sticky;
    background-color: #fff;
    backdrop-filter: blur(10px);
    max-width: 100%;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 20px 40px;
    z-index: 1000;
}

.logo {
    cursor: pointer;
    flex-shrink: 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.main_header_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main_header_list_name {
    font-weight: bold;
    cursor: pointer;
    color: #000;
    padding: 0 15px;
    font-size: 1.2rem;

    &:hover {
        color: rgb(0, 100, 240);
        transform: scale(1.05);
    }
}

.button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;

    &:hover {
        background-color: rgb(0, 104, 250);
        transform: scale(1.05);
    }
}

.button_text {
    display: contents;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-align: center;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
        color: #fff;
      
    }
}

.none {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1366px) {

    .main_header {
        padding: 10px 20px;
    }


    .main_header_list_name {
        font-size: 15px;
    }

}

@media (max-width: 1660px) {

    .main_header {
        padding: 15px 30px;
    }

    .main_header_list_name {
        font-size: 1.1rem;
    }

}

@media (max-width: 1024px) {

    .main_header {
        padding: 10px;
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        margin-bottom: 10px;
        align-self: center;
    }
    .button{
        position: absolute;
        top: 10px;
        right: 10px;
    }

}

@media (max-width: 768px) {

    .main_header {
        padding: 10px;
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        margin-bottom: 10px;
        align-self: center;
    }

   

    .main_header_list {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .main_header_list_name {
        padding: 10px 0;
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .main_header_list_name {
        font-size: 12px;
        padding: 8px 0;
    }
}