/* src/components/dashboard/Dashboard.module.scss */
.dashboardContainer {
  display: flex;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% chiều cao viewport */
  max-width: 100%;
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
}

.sidebar {
  width: 250px; /* Chiều rộng của sidebar */
  background-color: #2d2d2d; /* Màu nền của sidebar */
  padding: 20px;
  color: white; /* Màu chữ mặc định */
}

.sidebar ul {
  list-style-type: none; /* Bỏ dấu đầu dòng */
  padding: 0; /* Bỏ padding */
}

.sidebar li {
  margin: 15px 0; /* Khoảng cách giữa các item */
}

.sidebar a {
  color: white; /* Màu chữ liên kết */
  text-decoration: none; /* Bỏ gạch chân */
  display: block; /* Để toàn bộ khu vực của item clickable */
  padding: 10px; /* Padding cho item */
  border-radius: 4px; /* Bo tròn các góc */
  transition: background-color 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
}

.sidebar a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
  background-color: rgba(255, 255, 255, 0.1); /* Thêm hiệu ứng nền khi hover */
}

.mainItems {
  margin-bottom: 20px; /* Khoảng cách giữa nhóm chính và nhóm phụ */
}

.secondaryItems {
  margin-top: 20px; /* Khoảng cách giữa nhóm phụ và phần nội dung khác */
}

.divider {
  border: none; /* Không có viền */
  border-top: 1px solid #dee2e6; /* Đường phân cách */
  margin: 15px 0; /* Margin cho đường phân cách */
}

.content {
  flex-grow: 1; /* Nội dung chiếm toàn bộ chiều rộng còn lại */
  padding: 20px; /* Khoảng cách cho nội dung */
  background-color: #ffffff; /* Màu nền cho nội dung */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm bóng cho nội dung */
}

.logoutButton {
  color: white; /* Màu chữ trắng */
  background: none; /* Không có màu nền */
  border: none; /* Không có viền */
  cursor: pointer; /* Thay đổi con trỏ khi hover */
  display: block; /* Để toàn bộ khu vực của nút clickable */
  padding: 10px; /* Padding cho nút */
  border-radius: 4px; /* Bo tròn các góc */
  width: 100%; /* Để nút chiếm toàn bộ chiều rộng */
  text-align: left; /* Căn trái chữ trong nút */
  transition: background-color 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
}

.logoutButton:hover {
  color: #d32f2f; /* Thay đổi màu khi hover */
  text-decoration: underline; /* Gạch chân khi hover */
  background-color: rgba(255, 255, 255, 0.1); /* Thêm hiệu ứng nền khi hover */
}


