.button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: rgb(0, 104, 250);
        transform: scale(1.05);
    }
}

.button_text {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-align: center;
    transition: color 0.3s;

    &:hover {
        color: #fff;
       
    }
}

.none {
    text-decoration: none;
    color: inherit; /* Change this to the desired color if you don't want to inherit the color from the parent */
  }